# Ignore build artifacts
.dart_tool/
.packages
.pub/
build/
.flutter-plugins-dependencies

# IDE files
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/captures/

# macOS / Windows junk
.DS_Store
Thumbs.db
