name: yt_dlp_flutter_android
description: Offline Android YouTube downloader using yt-dlp and ffmpeg binaries.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/bin/android/arm64-v8a/
    - assets/bin/android/armeabi-v7a/
    - assets/bin/android/x86_64/
