name: yt_dlp_flutter_android
description: YouTube downloader using youtube_explode_dart and ffmpeg_kit.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  youtube_explode_dart: ^3.0.5
  ffmpeg_kit_flutter_new: ^4.1.0
  path_provider: ^2.1.5
  file_picker: ^10.3.2
  permission_handler: ^12.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
